
.full-height {
  height: calc(100vh - 56px);
  background-size: cover;
  border: 2px solid palevioletred;
  overflow-y: auto;
  }
  .background {
  background-image: url("https://sv1.picz.in.th/images/2023/02/01/LwszF9.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  }
