
.gray-transparent {
  background-color: rgba(128, 128, 128, 0.5);
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-weight: bold;
}
.container {

  overflow-y: auto;
}

td.bookdetail{
  font-size: 18px;
}
